:root {
  --checkbox-width-small: 1.5rem;
  --checkbox-width-big: 2.5rem;
  --checkbox-checked-bg-clr: var(--pink);
}

#checkbox-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
  gap: 1rem;
  /* width: 100%; */
  height: fit-content;
  padding: 1.5rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--white);
}

.custom-checkbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px;
}

.custom-checkbox label {
  font-size: 0.8rem;
  font-weight: 300;
  font-style: italic;
  white-space: nowrap;
}

.custom-checkbox .form-check-input {
  margin: 0;
  border: 1px solid var(--black);
  cursor: pointer;
}

.custom-checkbox .form-check-input.small {
  width: var(--checkbox-width-small);
  height: var(--checkbox-width-small);
}

.custom-checkbox .form-check-input.big {
  width: var(--checkbox-width-big);
  height: var(--checkbox-width-big);
}

.custom-checkbox .form-check-input:checked {
  background-color: var(--checkbox-checked-bg-clr);
  border-color: var(--checkbox-checked-bg-clr);
}
