:root {
  --complete-btn-font-clr: var(--orange);
  --complete-btn-bg-clr: var(--white);
}

#daily-data {
  display: grid;
  height: fit-content;
  /* padding: 1.5rem; */
  /* border: 1px solid; */
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

#daily-data svg {
  width: 2rem;
  aspect-ratio: 1;
}

.daily-todo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 1.5rem; */
  padding-block: 0.5rem;
  padding-inline: 1rem;
  background-color: rgba(var(--green-base), 0.2);
  font-family: Outfit;
  font-size: 1.25rem;
}

#daily-data section:first-of-type .daily-todo-header {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.daily-todo-content {
  width: 100%;
}

.daily-todo-content textarea{
  border-radius: var(--border-radius);
}

.complete-btn-cntr {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.complete-btn-cntr button {
  padding-block: 0.5rem;
  padding-inline: 1.5rem;
  border: 1px solid var(--complete-btn-font-clr);
  border-radius: 20px;
  background-color: transparent;
  color: var(--complete-btn-font-clr);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  font-family: Outfit;
}

.complete-btn-cntr button:hover {
  background-color: var(--complete-btn-font-clr);
  color: var(--complete-btn-bg-clr);
}
