#dashboard {
  display: grid;
  gap: 5rem;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
  row-gap: 1rem;
  column-gap: 5rem;
}

.hero h1 {
  font-size: clamp(2rem, calc(1rem + 6dvw), 5rem);
  line-height: 1;
}

.hero h2 {
  margin: 0;
  font-size: clamp(1rem, calc(1rem + 3dvw), 2rem);
  font-variant: small-caps;
  letter-spacing: 3px;
  font-weight: 300;
}

.hero-text {
  margin-top: 1.5rem;
  margin-bottom: 2.25rem;
}

.hero button {
  width: min(15rem, 100%);
}

.hero img {
  width: min(100%, 25rem);
  aspect-ratio: 1 / 1;
  border-radius: var(--border-radius);
  mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 30%);
  margin-left: 5rem;
}

/* CAROUSEL */
.quote-carousel {
  text-align: center;
  font-size: clamp(1rem, calc(0.5rem + 3dvw), 1.5rem);
  font-style: italic;
  padding-block: 3rem;
  margin-block: clamp(1rem, calc(1rem + 3dvw), 4rem);
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

blockquote::before,
blockquote::after {
  position: absolute;
  font-size: clamp(5rem, calc(3rem + 6dvw), 10rem);
  line-height: 0;
  color: var(--clr-neutral-700);
}

blockquote::before {
  content: "“";
  top: 0;
  left: -4rem;
}

blockquote::after {
  content: "”";
  bottom: -5.5rem;
  right: 0rem;
}

/* HOW TO */
.howTo {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.howTo .card {
  min-width: 20rem;
  padding: 2rem;
  border: none;
  background-color: var(--card-bg-clr);
  box-shadow: var(--box-shadow);
  color: var(--foreground);
  text-align: center;
  flex: 1;
}

.howTo svg {
  margin-inline: auto;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: var(--clr-primary);
}

/* CTA */
.big-btn {
  font-size: clamp(1rem, calc(0.5rem + 3dvw), 1.5rem);
}

.cta button {
  margin-top: 2rem;
}

/* HIGHLIGHTS */
.highlights {
  display: grid;
  gap: min(6rem, 15dvw);
}

.highlight {
  display: flex;
  justify-content: center;
  row-gap: 3rem;
  column-gap: 8rem;
  align-items: center;
  justify-items: center;
}

.highlight span {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--clr-primary);
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.highlight p {
  text-align: justify;
  font-weight: 300;
  max-width: 40rem;
}

.highlight img {
  width: min(100%, 25rem);
  aspect-ratio: 5 / 4;
  border: 3px solid var(--foreground);
  border-radius: var(--border-radius);
  box-shadow: 30px 30px 0px 0px var(--highlight-shadow-clr);
}

@media (max-width: 1000px) {
  .hero {
    grid-template-columns: 1fr;
  }

  .hero img {
    display: none;
  }

  .highlight {
    display: grid;
  }

  .highlight img {
    order: 0 !important;
  }
}

@media (max-width: 500px) {
  .howTo .card {
    width: 100%;
  }
}
