#day-list-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
  gap: 0.5rem;
  position: sticky;
  top: 0.5rem;
  height: fit-content;
  padding: 1.25rem;
  border-radius: var(--border-radius);
  background-color: var(--grid-bg-clr);
  box-shadow: var(--box-shadow);
  justify-items: center;
}

.day-block {
  display: grid;
  place-content: center;
  width: 3rem;
  aspect-ratio: 1;
  border: none;
  border-radius: 5px;
  background-color: var(--background);
  box-shadow: 2px 2px 2px -1px var(--box-shadow-clr);
  color: var(--secondary-text-clr);
  font-family: Outfit;
  transition: scale 0.3s, box-shadow 0.3s;
}

.day-block:not(button:disabled):hover {
  scale: 1.2;
  box-shadow: 2px 2px 2px 1px var(--box-shadow-clr);
}

.day-block.today {
  background-color: var(--today-bg-clr);
  color: var(--clr-neutral-1000);
}

.day-block.completed {
  background-color: var(--completed-bg-clr);
  color: var(--white);
}

.day-block.failed {
  background-color: var(--failed-bg-clr);
  color: var(--white);
}

.day-block.selected-day,.day-block:not(.selected-day):focus {
  background-color: var(--selected-day-bg-clr);
  color: var(--white);
  font-weight: 500;
}
