footer {
  position: absolute;
  top: 100%;
  width: 100%;
  padding: min(3rem, 6dvw);
  background-color: var(--footer-bg-clr);
  color: var(--footer-font-clr);
  text-align: center;
}

footer ul {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
  flex-wrap: wrap;
  width: fit-content;
  margin-inline: auto;
  font-size: clamp(0.8rem, calc(0.5rem + 4dvw), 1.5rem);
  list-style: none;
}
