:root {
  --menu-bg-clr: var(--green);
  --menu-font-clr: var(--white);
  --menu-font-size: 1.25rem;
  --menu-height: 4rem;
  --menu-padding-inline: 2rem;

  --animation-duration: 0.5s;
  --box-shadow-clr: #333333d6;
}

#menu {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  height: var(--menu-height);
  padding-block: 1rem;
  padding-inline: var(--menu-padding-inline);
  align-items: center;
  background-color: var(--menu-bg-clr);
  color: var(--menu-font-clr);
  font-family: var(--font-head);
  font-size: var(--menu-font-size);
}

/* NAVIGATION */
.ctnr-menu-items ul {
  display: flex;
  gap: 1rem;
  font-weight: 300;
  list-style: none;
}

.ctnr-menu-items button {
  border: none;
  background-color: transparent;
  color: inherit;
  font-weight: inherit;
}

.ctnr-menu-items li:hover button,
.ctnr-menu-items li:hover {
  font-weight: 600;
}

.ctnr-menu-items button::before,
.ctnr-menu-items a::before {
  display: block;
  content: attr(title);
  font-weight: 600;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

/* PROFILE */
.profile {
  border-radius: 50%;
  width: 2.5rem;
  aspect-ratio: 1;
  background-color: aliceblue;
}

.profile.logged-in {
  border: 3px solid var(--red);
}

.inline-profile {
  display: none;
}

/* PROGRESS BAR */
.ctnr-progress-bar {
  flex: 1;
  text-align: center;
}

.ctnr-progress-bar .progress-text {
  display: block;
  font-size: 0.8rem;
  font-weight: 300;
  font-family: Roboto;
}

progress {
  width: min(25rem, 100%);
  height: 1rem;
  margin: auto;
  background-color: var(--white);
  border: none;
  border-radius: 20px;
}

progress::-moz-progress-bar,
progress::-webkit-progress-bar {
  background: var(--yellow);
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.75rem;
  color: var(--menu-font-clr);
  cursor: pointer;
}

@media (max-width: 768px) {
  /* Hide the menu and progress text */
  .ctnr-menu-items {
    display: none;
  }

  .menu-toggle {
    display: block; /* Show toggle button */
  }

  .ctnr-progress-bar .progress-text {
    display: none; /* Hide progress text */
  }

  .ctnr-menu-items.show {
    display: block;
    position: absolute;
    top: var(--menu-height);
    left: 0;
    right: 0;
    z-index: 1000;
    padding-inline: var(--menu-padding-inline);
    background-color: var(--menu-bg-clr);
  }

  .ctnr-menu-items ul {
    flex-direction: column;
    padding: 1rem;
  }

  .ctnr-menu-items ul li {
    margin-bottom: 0.5rem;
  }

  .ctnr-menu-items ul li:last-child {
    margin-bottom: 0;
  }

  .ctnr-profile {
    display: none;
  }

  .inline-profile {
    display: block;
  }

  .ctnr-profile.inline {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.rules-window {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  animation-name: applyBg;
  animation-duration: var(--animation-duration);
}

.rules-content {
  animation-name: slideDown;
  animation-duration: var(--animation-duration);
}

.rules-window.isClosing .rules-content {
  animation-name: slideUp;
  animation-duration: var(--animation-duration);
}

.rules-window.isClosing {
  animation: fadeBg;
  animation-duration: var(--animation-duration);
}

.rules-content button {
  position: absolute;
  top: -1rem;
  right: 0;
  width: 4rem;
  aspect-ratio: 1;
  border: 3px solid var(--white);
  border-radius: 50%;
  background-color: var(--red);
  color: var(--white);
  font-size: 1.5rem;
  box-shadow: 12px -5px 15px -3px var(--box-shadow-clr);
}

#rules-box {
  animation: applyShadow;
  animation-duration: var(--animation-duration);
}

.rules-window.isClosing #rules-box {
  animation: fadeShadow;
  animation-duration: var(--animation-duration);
}

@keyframes slideDown {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

@keyframes slideUp {
  from {
    top: 0;
  }
  to {
    top: -100%;
  }
}

@keyframes fadeBg {
  from {
    background-color: rgba(0, 0, 0, 0.6);
  }
  to {
    background-color: transparent;
  }
}

@keyframes applyBg {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

@keyframes fadeShadow {
  from {
    box-shadow: 3px 3px 15px 6px var(--box-shadow-clr);
  }
  to {
    box-shadow: none;
  }
}

@keyframes applyShadow {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 3px 3px 15px 6px var(--box-shadow-clr);
  }
}
