:root {
  --menu-font-clr: var(--white);
  --menu-font-size: 1.25rem;
  --menu-height: 4rem;
  --menu-padding-inline: 2rem;

  --animation-duration: 0.5s;
}

#menu {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  height: var(--menu-height);
  padding-block: 1rem;
  padding-inline: var(--menu-padding-inline);
  align-items: center;
  background-color: var(--menu-bg-clr);
  color: var(--menu-font-clr);
  font-family: var(--font-head);
  font-size: var(--menu-font-size);
}

/* NAVIGATION */
.cntr-menu-items ul {
  display: flex;
  gap: 1rem;
  font-weight: 300;
  list-style: none;
}

.cntr-menu-items button {
  border: none;
  background-color: transparent;
  color: inherit;
  font-weight: inherit;
}

.cntr-menu-items li:hover button,
.cntr-menu-items li:hover {
  font-weight: 600;
}

.cntr-menu-items button::before,
.cntr-menu-items a::before {
  display: block;
  content: attr(title);
  font-weight: 600;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.cntr-menu-items button.toggle-dark-mode {
  color: var(--clr-accent-200);
  margin-left: 0.5rem;
}

.cntr-menu-items button.toggle-dark-mode:focus,
.cntr-menu-items button.toggle-dark-mode:hover {
  color: var(--clr-accent-600);
}

.cntr-menu-items button.toggle-dark-mode::before {
  display: none;
}

/* PROGRESS BAR */
.loading-cntr {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: fit-content;
  margin-inline: auto;
  font-size: 0.9rem;
}

.loader {
  --d: 8px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  color: var(--white);
  box-shadow: calc(1 * var(--d)) calc(0 * var(--d)) 0 0,
    calc(0.707 * var(--d)) calc(0.707 * var(--d)) 0 0.25px,
    calc(0 * var(--d)) calc(1 * var(--d)) 0 0.5px,
    calc(-0.707 * var(--d)) calc(0.707 * var(--d)) 0 0.75px,
    calc(-1 * var(--d)) calc(0 * var(--d)) 0 1px,
    calc(-0.707 * var(--d)) calc(-0.707 * var(--d)) 0 1.25px,
    calc(0 * var(--d)) calc(-1 * var(--d)) 0 1.5px;
  animation: l27 1s infinite steps(8);
}

@keyframes l27 {
  100% {
    transform: rotate(1turn);
  }
}

.cntr-progress-bar {
  flex: 1;
  text-align: center;
}

.cntr-progress-bar .progress-text {
  display: block;
  font-size: 0.8rem;
  font-weight: 300;
  font-family: Roboto;
}

progress {
  width: min(25rem, 100%);
  height: 1rem;
  margin: auto;
  background-color: var(--white);
  border: none;
  border-radius: 20px;
}

progress::-moz-progress-bar,
progress::-webkit-progress-bar {
  background: var(--clr-accent);
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.75rem;
  color: var(--menu-font-clr);
  cursor: pointer;
}

@media (max-width: 768px) {
  .cntr-menu-items {
    display: grid;
    grid-template-rows: 0fr;
    position: absolute;
    top: var(--menu-height);
    left: 0;
    right: 0;
    z-index: 1000;
    transition: all 0.25s ease-in-out;
  }

  .cntr-menu-items button.toggle-dark-mode {
    margin: 0;
  }

  .menu-toggle {
    display: block;
  }

  .cntr-progress-bar .progress-text {
    display: none;
  }

  .cntr-menu-items.show {
    grid-template-rows: 1fr;
    padding-inline: var(--menu-padding-inline);
    background-color: var(--menu-bg-clr);
  }

  .cntr-menu-items ul {
    flex-direction: column;
    padding: 1rem;
    overflow: hidden;
  }

  .cntr-menu-items.hide ul {
    padding: 0;
    width: 0;
  }

  .cntr-menu-items ul li {
    margin-bottom: 0.5rem;
  }

  .cntr-menu-items ul li:last-child {
    margin-bottom: 0;
  }
}
