#new-challenge-form {
  font-family: Outfit;
  font-size: clamp(1rem, calc(0.5rem + 2dvw), 1.25rem);
}

.new-challenge-btn {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%);
}

#new-challenge-form input {
  width: fit-content;
  font-size: clamp(1rem, calc(0.5rem + 1dvw), 1.25rem);
  margin-inline: auto;
}

.validation-msg {
  color: var(--error-clr);
  font-size: 0.9rem;
}

.info-text {
  margin-top: 0.25rem;
  font-size: 0.8rem;
  font-style: italic;
  color: var(--secondary-text-clr);
}