:root {
  --close-btn-bg-clr: var(--clr-secondary-600);
}

#rules-box {
  --icon-cntr-width: 4rem;
  padding: 2rem;
  border-radius: var(--border-radius);
  background-color: var(--background);  
  box-shadow: 3px 3px 15px 6px var(--box-shadow-clr);
  animation: applyShadow;
  animation-duration: var(--animation-duration);
}

#rules-box h1,
#rules-box h3 {
  font-family: var(--font-head);
}

#rules-box p {
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 300;
  color: var(--secondary-text-clr);
}

#rules-box .icon-container {
  place-content: center;
  display: grid;
  width: var(--icon-cntr-width);
  min-width: var(--icon-cntr-width);
  aspect-ratio: 1;
  padding: 5px;
  border-radius: 50%;
  background-color: var(--clr-accent);
  color: var(--white);
}

#rules-box svg {
  width: 2rem;
  height: 2rem;
}


.rules-content button {
  position: absolute;
  top: -1rem;
  right: 0;
  width: 4rem;
  aspect-ratio: 1;
  border: 3px solid var(--background);
  border-radius: 50%;
  background-color: var(--close-btn-bg-clr);
  color: var(--white);
  font-size: 1.5rem;
  box-shadow: 12px -5px 15px -3px var(--box-shadow-clr);
}

.rules-window.isClosing #rules-box {
  animation: fadeShadow;
  animation-duration: var(--animation-duration);
}