:root {
  /* COLORS */
	--clr-primary-50: #e0f2f0;
	--clr-primary-100: #b1e0d9;
	--clr-primary-200: #7fccc1;
	--clr-primary-300: #4ab8a8;
	--clr-primary-400: #1ea896;	
	--clr-primary-500: #009884;
	--clr-primary-600: #008b77;
	--clr-primary-700: #007b67;
	--clr-primary-800: #006b58;
	--clr-primary-900: #004f3d;
	--clr-secondary-50: #f9eae9;
	--clr-secondary-100: #fdcdc3;
	--clr-secondary-200: #fdac9d;
	--clr-secondary-300: #fe8b77;
	--clr-secondary-400: #ff715b;
	--clr-secondary-500: #ff5742;
	--clr-secondary-600: #f5513e;
	--clr-secondary-700: #e74b38;
	--clr-secondary-800: #d84534;
	--clr-secondary-900: #be392b;
  --clr-accent-50: #fff8e0;
	--clr-accent-100: #ffebb0;
	--clr-accent-200: #ffdf7d;
	--clr-accent-300: #ffd346;
	--clr-accent-400: #ffc814;
	--clr-accent-500: #ffbf00;
	--clr-accent-600: #ffb100;
	--clr-accent-700: #ff9d00;
	--clr-accent-800: #ff8c00;
	--clr-accent-900: #ff6a00;
  --clr-neutral-50: #ffffff;
	--clr-neutral: var(--clr-neutral-50);
  --white: var(--clr-neutral);
	--clr-neutral-100: #fafafa;
	--clr-neutral-200: #f5f5f5;
	--clr-neutral-300: #f0f0f0;
	--clr-neutral-400: #dedede;
	--clr-neutral-500: #c2c2c2;
	--clr-neutral-600: #979797;
	--clr-neutral-700: #818181;
	--clr-neutral-800: #606060;
	--clr-neutral-900: #3c3c3c;
  --dark: var(--clr-neutral-900);
  --clr-neutral-1000: #2d2d2d;
}

@font-face {
  font-family: Outfit;
  src: url(../fonts/Outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}

/* GENERAL */
:root {
  --font-head: Outfit;
  --font-text: Roboto;
  --border-radius: 10px;
  --box-shadow: 1px 1px 6px -2px var(--clr-neutral-600);
  --error-clr: red;
}

/* LIGHT-DARK COLORS */
:root {
  --background: var(--white);
  --foreground: var(--dark);

  --clr-primary: var(--clr-primary-400);
	--clr-secondary: var(--clr-secondary-400);  
	--clr-accent: var(--clr-accent-500);

  --box-shadow-clr: var(--clr-neutral-900);
  --secondary-text-clr: var(--clr-neutral-700);

  --menu-bg-clr: var(--clr-primary);
  --hero-btn-font-clr: var(--clr-secondary);
  --card-bg-clr: var(--white);
  --highlight-shadow-clr: var(--clr-primary-200);
  --banner-bg-clr: var(--white);
  --grid-bg-clr: var(--clr-neutral-200);
  --completed-bg-clr: var(--clr-primary);
  --failed-bg-clr: var(--clr-secondary-300);
  --today-bg-clr: var(--clr-neutral-500);
  --selected-day-bg-clr: var(--clr-accent);
  --daily-data-bg-clr: var(--white);

  --footer-bg-clr: var(--clr-neutral-300);
  --footer-font-clr: var(--clr-neutral-700);
}

body.dark {
  --background: var(--clr-neutral-900);
  --foreground: var(--clr-neutral-200);

  --clr-primary: var(--clr-primary-300);
  --clr-primary-dark: var(--clr-primary-700);
  --clr-secondary: var(--clr-secondary-900);
  --clr-accent: var(--clr-accent-800);

  --box-shadow-clr: black;
  --secondary-text-clr: var(--clr-neutral-500);

  --menu-bg-clr: var(--clr-neutral-1000);
  --hero-btn-font-clr: var(--white);
  --card-bg-clr: var(--clr-neutral-800);
  --highlight-shadow-clr: var(--clr-primary-dark);
  --banner-bg-clr: var(--clr-neutral-800);
  --grid-bg-clr: var(--clr-neutral-800);
  --completed-bg-clr: var(--clr-primary-dark);
  --failed-bg-clr: var(--clr-secondary-900);
  --today-bg-clr: var(--clr-neutral-500);
  --selected-day-bg-clr: var(--clr-accent);
  --daily-data-bg-clr: var(--clr-neutral-800);

  --footer-bg-clr: var(--clr-neutral-1000);
  --footer-font-clr: var(--clr-neutral-500);
}

html,
body {
  max-width: 100dvw;
}

body {
  position: relative;
  min-height: 100dvh;
  color: var(--foreground) !important;
  background-color: var(--background) !important;
  font-family: var(--font-text), sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 1000px) {
  body::before,
  body::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
  }

  body::before {
    background:url('../images/pushup.png') no-repeat left bottom 10% / 25%;
    background-attachment: fixed;
    opacity: 0.2;
  }

  body::after {
    background: url('../images/pullup.png') no-repeat right top 20% / 15rem;
    background-attachment: fixed;
    opacity: 0.1;
  }

  body.dark::before{
    opacity: 1;
    filter: brightness(2);
  }

  body.dark::after{
    opacity: 1;
    filter: invert(0.4);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-head);
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* BUTTONS */
.ellipse-btn {
  padding-block: 0.75em;
  padding-inline: 2em;
  border: 1px solid;
  border-radius: 2em;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: nowrap;
}

.ellipse-btn.full-btn {
  border: none;
  background-color: var(--clr-secondary);
  color: var(--white);
}

.ellipse-btn.full-btn:hover {
  background-color: var(--clr-secondary-700);
}

.ellipse-btn.inverted-btn{
  background-color: var(--background);
  color: var(--hero-btn-font-clr);
}

.ellipse-btn.inverted-btn:hover {
  background-color: var(--secondary-text-clr);
  color: var(--white);
}

.dark .ellipse-btn.inverted-btn:hover {
  background-color: var(--clr-neutral-600);
  color: var(--white);
}

/* BOOSTRAP OVERRIDE */
body ul {
  margin: 0;
  padding: 0;
}

body a {
  color: inherit;
  text-decoration: none;
}

body p {
  margin: 0;
}

body .form-control,
body .form-check-input {
  background-color: var(--background);
  color: var(--foreground);
}

body.dark .form-control,
body.dark .form-check-input {
  background-color: var(--clr-neutral-700);
}

body.dark .form-control {
  cursor: default;
}

body .form-control:focus {
  color: var(--foreground);
}